.button,
button,
input[type="submit"] {
    @include prop(padding, 15, 30);
    @include prop(margin, 0);
    @include fontSize(14);
    background: transparent;
    @include trans(background 0.3s ease-out);
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    cursor: pointer;

    &.green {
        color: $white;
        background: $green;

        &:hover {
            background: lighten($green, 10);
        }
    }

    &.red {
        color: $white;
        background: $red;

        &:hover {
            background: lighten($red, 10);
        }
    }

    &.orange {
        color: $white;
        background: $orange;

        &:hover {
            background: lighten($orange, 10);
        }
    }

    &.turq {
        color: $white;
        background: $turq;

        &:hover {
            background: lighten($turq, 10);
        }
    }
}