::-webkit-input-placeholder {
    opacity: 1;
}

::-moz-placeholder {
   opacity: 1; 
}

:-ms-input-placeholder {  
    opacity: 1;
}

[placeholder]:-ms-input-placeholder {  
    opacity: 1;
}
.add-resource {
  @include prop(padding-top, 90);
}

form {

  .field {
    @include prop(margin, 20, 0);
  }

  .radio-field {
    p {
      @include prop(margin, 10, 0);
    }
  }

  .actions {
    position: relative;
    overflow: hidden;

    .red {
      float: left;
    }

    .green {
      float: right;
    }
  }
}

fieldset {
}

input {
}

.selectWrapper {
    
    select {
    }
}

input,
textarea {
   &:focus {
   }
}

input[type="text"],
input[type="search"],
input[type="email"], 
textarea {
  @include pre(width, 100%);
  outline: none;
  @include fontSize(12);
  @include prop(line-height, 25);
  @include prop(padding-left, 20);
  @include border(2, solid, $bodyColor);
  @include pre(transition, border 0.3s ease);

  &:focus {
      @include border(2, solid, $black);
  }
}