#home-hero {
    position: relative;
    @include prop(min-height, 400);

    background: url('/assets/images/6.jpg') center center no-repeat;
    left: 0;
    top: 0;
    background-size: cover;
    background-color: white;

    .v-wrapper {
        position: relative;
        @include prop(padding, 100, 0);
        @include prop(min-height, 400);

        @media only screen and (min-width: $smallScreen + px) {
            @include prop(padding, 50, 0);
        }
    }

    .home-search {
        position: relative;
        overflow: hidden;

        h5 {
            display: block;
            color: $white;
            @include prop(margin, 0, 0, 40);

            @media only screen and (min-width: $smallScreen + px) {
                display: none;
            }
        }

        input {
            position: relative;
            display: inline-block;
            font-size: 14px;
            @include prop(height, 45);
            line-height: 1;
            float: left;

            @media only screen and (min-width: $smallScreen + px) {
                font-size: 18px;
            }
        }

        a {
            position: relative;
            display: inline-block;
            float: right;
            margin: 0;
            width: 100%;
            // padding: 10px 30px;

            @media only screen and (min-width: 375px) {
                // padding: 15px 30px;
                width: auto;
            }
        }
    }

    .delta {
        color: $white;
    }

    .delta,
    input {
        @include prop(margin, 0, 0, 5, 0);
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
    }
}

#home-featured-plans {
    @include prop(padding, 40, 0);
    overflow: hidden;
    position: relative;

    .gamma {
        @include prop(padding, 10, 0);
    }

    ul {
        @include prop(margin, 0);
        @include pre(width, 100%);
        float: left;
    }

    .featured-plan {
        border: 1px solid $black;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        @include prop(margin-bottom, 10);
    }    

    .image {
        position: relative;
        background: url(https://placeholdit.imgix.net/~text?txtsize=33&w=1200&h=400) center center no-repeat;
        background-size: cover;
        @include prop(min-height, 200);

        .featured-tag {
            position: absolute;
            right: 0;
            top: 10px;
            font-size: 11px;
            text-transform: uppercase;
            color: $black;
            background: $blue;
            @include prop(padding, 5);
        }
    }

    .content {
        @include prop(padding, 20);
        overflow: hidden;

        .price {
            @include prop(padding, 10, 0);
            @include prop(margin, 0);
            line-height: 1;
            background: $turq;
            color: $black;
        }

        .first-column,
        .second-column {
            display: inline-block;
            @include prop(padding-top, 20);

            li {
                // list-style-type: disc;
                @include prop(padding, 5);
            }
        }
    }
}