<header class="global">
    <div class="row">
        <div class="columns xsmall-12 main-nav">
            <div class="cello-logo">
                <h3 class="company-name gamma">Cello World</h3>
            </div>

            <nav class="header-nav">
                <ul>
                    <li class="mobile">Menu</li>
                    <li><a href="javascript:void(0)">Nav Item 1</a></li>
                    <li><a href="javascript:void(0)">Nav Item 2</a></li>
                    <li><a href="javascript:void(0)">Nav Item 3</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>