<header class="global">
    <div class="row">
        <div class="columns xsmall-12 main-nav">
            <a href="/" class="cello-logo">
                <h3 class="company-name gamma">Cello.World</h3>
                <h5 class="epsilon">Introductory sentence about the product</h5>
            </a>

            <nav class="header-nav">
                <ul>
                    <li class="mobile"><a href="javascript:void(0)">Menu</a></li>
                    <li><a href="javascript:void(0)">Nav Item 1</a></li>
                    <li><a href="javascript:void(0)">Nav Item 2</a></li>
                    <li><a href="javascript:void(0)">Nav Item 3</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>