<section id="home-hero">
    <div class="row">
        <div class="columns xsmall-12 text-center">
            <div class="v-wrapper">
                <div class="v-inner">
                    <div class="home-search">
                        <h4 class="delta text-left">What amount are you looking to spend?</h4>
                        <input type="text" class="home-input">
                        <a href="javascript:void(0)" class="button submit">Submit</a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
