<section id="home-hero">
    <div class="row">
        <div class="columns xsmall-12 medium-6 medium-centered text-center">
            <div class="v-wrapper">
                <div class="v-inner">
                    <div class="home-search">
                        <input type="text" class="home-input green" placeholder="What amount are you looking to spend?">
                        <a href="javascript:void(0)" class="button submit green">Search</a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>


<section id="home-featured-plans">
    <div class="row">
        <ul class="columns large-block-grid-3 medium-block-grid-3 small-block-grid-1 xsmall-block-grid-1 plans-grid">
            <li>
                <h3 class="gamma text-center">Best Budget Plans</h3>
                <div class="featured-plan">
                    <div class="image">
                        <span class="featured-tag">Featured</span>
                    </div>

                    <div class="content text-center">
                        <p class="price">$50/month</p>
                        <ul>
                            <div class="first-column">
                                <li>something about the plan</li>
                                <li>something about the plan</li>
                            </div>
                            <div class="second-column">
                                <li>something about the plan</li>
                                <li>something about the plan</li>
                            </div>
                        </ul>

                        <a class="button green" href="javascript:void(0)">Activate</a>
                    </div>
                </div>

                <a href="javascript:void(0)">See similar plans</a>
            </li>

            <li>
                <h3 class="gamma text-center">Best Data Plans</h3>
                <div class="featured-plan">
                    <div class="image">
                        <span class="featured-tag">Featured</span>
                    </div>

                    <div class="content text-center">
                        <p class="price">$50/month</p>
                        <ul>
                            <div class="first-column">
                                <li>something about the plan</li>
                                <li>something about the plan</li>
                            </div>
                            <div class="second-column">
                                <li>something about the plan</li>
                                <li>something about the plan</li>
                            </div>
                        </ul>

                        <a class="button green" href="javascript:void(0)">Activate</a>
                    </div>
                </div>

                <a href="javascript:void(0)">See similar plans</a>
            </li>
            
            <li>
                <h3 class="gamma text-center">Best Phone Plans</h3>
                <div class="featured-plan">
                    <div class="image">
                        <span class="featured-tag">Featured</span>
                    </div>

                    <div class="content text-center">
                        <p class="price">$50/month</p>
                        <ul>
                            <div class="first-column">
                                <li>something about the plan</li>
                                <li>something about the plan</li>
                            </div>
                            <div class="second-column">
                                <li>something about the plan</li>
                                <li>something about the plan</li>
                            </div>
                        </ul>

                        <a class="button green" href="javascript:void(0)">Activate</a>
                    </div>
                </div>

                <a href="javascript:void(0)">See similar plans</a>
            </li>
        </ul>
    </div>
</section>