header.global {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    @include prop(padding, 10, 0);
    border-bottom: 1px solid $black;
    background: $white;

    .cello-logo {
        float: left;
    }

    .header-nav {
        float: right;
        @include prop(padding, 10, 0);

        li {
            display: none;
            @include prop(margin, 0, 20);

            @media only screen and (min-width: $smallScreen + px) {
                display: inline-block;
            }

            &.mobile {
                display: inline-block;

                @media only screen and (min-width: $smallScreen + px) {
                    display: none;
                }
            }
        }
    }
}