header.global {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    @include prop(padding, 10, 0);
    background: $white;

    @media only screen and (min-width: $smallScreen + px) {
        background: transparent;
    }

    .cello-logo {
        float: left;
        padding: 5px 0;

        @media only screen and (min-width: $smallScreen + px) {
            padding: 0;
        }

        h5 {
            display: none;

            @media only screen and (min-width: $smallScreen + px) {
                display: block;
            }
        }
    }

    .gamma,
    .epsilon {
        color: $black;

        @media only screen and (min-width: $smallScreen + px) {
            color: $white;
        }
    }

    .header-nav {
        float: right;
        @include prop(padding, 10, 0);

        @media only screen and (min-width: $smallScreen + px) {
            @include prop(padding, 18, 0);
        }

        li {
            display: none;
            @include prop(margin, 0, 10);

            a {
                position: relative;
                color: $black;

                @media only screen and (min-width: $smallScreen + px) {
                    color: $white;
                }

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 1px;
                    background: $green;
                    -webkit-transition: width 0.3s ease-out;
                    transition: width 0.3s ease-out;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }

            @media only screen and (min-width: $smallScreen + px) {
                display: inline-block;
            }

            @media only screen and (min-width: $mediumScreen + px) {
                @include prop(margin, 0, 20);
            }

            &.mobile {
                display: inline-block;

                a {
                    letter-spacing: 1px;
                    color: $green;
                }

                @media only screen and (min-width: $smallScreen + px) {
                    display: none;
                }
            }
        }
    }
}